
body {
    background-color: beige;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
}

#message{
    border-style: double;
    background-color: lightgray;
}

div{
display: block;
text-align: center;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input[type = text]{

    width: 40%;
    padding: 12px 20px;
    box-sizing: border-box;
}